record(longin, "$(PREFIX)$(SIGNAL)")
{
	field(DESC, "$(DESC)")
	field(DTYP, "asynInt32")
	field(INP,  "@asyn($(PORT) $(OFFSET)) $(DATA_TYPE)")
    field(SCAN,"$(SCAN)")
    field(FLNK,"$(FLNK)")
}

record(calc, "${PREFIX}${SIGNAL}F") {
  field(SCAN, "Passive")
  field(CALC, "A/1000")
  field(EGU, "mm")
  field(INPA, "${PREFIX}${SIGNAL}")
}
