record(bo, "$(SYS):$(SUBSYS):$(DEV):$(SIGNAL)")
{
	field(PINI, "$(PINI)")
    field(DTYP, "asynUInt32Digital")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0,$(TIMEOUT))$(ALIAS)")
    field(OMSL, "supervisory")
    field(ZNAM, "$(ZNAM)")
    field(ONAM, "$(ONAM)")
    field(VAL, "$(VAL)")
}
