record(waveform, "$(SYS):$(SUBSYS):$(DEV):$(SIGNAL)")
{
	field(PINI,  "YES")
    field(DTYP,  "$(DTYP)")
    field(INP,   "@asyn($(PORT),$(ADDR),$(TIMEOUT))$(ALIAS)")
    field(NELM,  "$(NELM)")
    field(FTVL,  "LONG")
}
