
#Created by Constraints Editor (xc6vlx130t-ff1156-2) - 2011/04/11
NET "clk1" TNM_NET = clk1;
TIMESPEC TS_clk1 = PERIOD "clk1" 3.33 ns HIGH 50%;
NET "clk2" TNM_NET = clk2;
TIMESPEC TS_clk2 = PERIOD "clk2" 3.33 ns HIGH 50%;
NET "clk3" TNM_NET = clk3;
TIMESPEC TS_clk3 = PERIOD "clk3" 3.33 ns HIGH 50%;
NET "clk4" TNM_NET = clk4;
TIMESPEC TS_clk4 = PERIOD "clk4" 3.33 ns HIGH 50%;
