# ai record template for register inputs
record(ai, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL)") {
    field(DTYP,"asynFloat64")
    field(INP,"@asyn($(PORT) $(OFFSET))$(DATA_TYPE)")
    field(HOPR,"$(HOPR)")
    field(LOPR,"$(LOPR)")
    field(PREC,"$(PREC)")
    field(EGU,"$(EGU)")
    field(SCAN,"$(SCAN)")
    field(FLNK,"$(FLNK)")
}

