record(ao, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL)") 
{
  field(PINI, "YES")
  field(VAL, "0")

  field(DESC, "$(DESC)")
  field(DRVL, "$(DRVL)")
  field(DRVH, "$(DRVH)")
  field(LOPR, "$(DRVL)")
  field(HOPR, "$(DRVH)")
}


























