record(calc, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL)") 
{
  field(PINI, "YES")
  field(VAL, "0")

  field(SCAN, "$(SCAN)")
  field(DESC, "$(DESC)")
  field(CALC, "$(CALC)")
  field(INPA, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL)")
  field(INPB, "$(INPB)")
}


























