
record(sub, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL)")
{
  field(DESC, "$(DESC)")
  field(SCAN, "$(SCAN)")
  field(FLNK, "$(FLNK)")
  field(INAM, "InitDnstVisco")
  field(SNAM, "ProcDnstVisco")
  field(INPA, "$(INPA)")
  field(INPB, "$(INPB)")
  field(INPC, "$(INPC)")
  field(PINI, "YES")
}
