record (fanout,"$(P)$(F)$(FX)") 
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX0)")
	field(LNK1, "$(P)$(F)$(FX)$(FX1)")
	field(LNK2, "$(P)$(F)$(FX)$(FX2)")
	field(LNK3, "$(P)$(F)$(FX)$(FX3)")
	field(LNK4, "$(P)$(F)$(FX)$(FX4)")
	field(LNK5, "$(P)$(F)$(FX)$(FX5)")
	field(LNK6, "$(P)$(F)$(FX)$(FX6)")
	field(LNK7, "$(P)$(F)$(FX)$(FX7)")
	field(LNK8, "$(P)$(F)$(FX)$(FX8)")
	field(LNK9, "$(P)$(F)$(FX)$(FX9)")
}

record (fanout,"$(P)$(F)$(FX)$(FX0)")
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX0):F00")
	field(LNK1, "$(P)$(F)$(FX)$(FX0):F01")
	field(LNK2, "$(P)$(F)$(FX)$(FX0):F02")
	field(LNK3, "$(P)$(F)$(FX)$(FX0):F03")
	field(LNK4, "$(P)$(F)$(FX)$(FX0):F04")
	field(LNK5, "$(P)$(F)$(FX)$(FX0):F05")
	field(LNK6, "$(P)$(F)$(FX)$(FX0):F06")
	field(LNK7, "$(P)$(F)$(FX)$(FX0):F07")
	field(LNK8, "$(P)$(F)$(FX)$(FX0):F08")
	field(LNK9, "$(P)$(F)$(FX)$(FX0):F09")
}


record (fanout,"$(P)$(F)$(FX)$(FX1)")
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX1):F00")
	field(LNK1, "$(P)$(F)$(FX)$(FX1):F01")
	field(LNK2, "$(P)$(F)$(FX)$(FX1):F02")
	field(LNK3, "$(P)$(F)$(FX)$(FX1):F03")
	field(LNK4, "$(P)$(F)$(FX)$(FX1):F04")
	field(LNK5, "$(P)$(F)$(FX)$(FX1):F05")
	field(LNK6, "$(P)$(F)$(FX)$(FX1):F06")
	field(LNK7, "$(P)$(F)$(FX)$(FX1):F07")
	field(LNK8, "$(P)$(F)$(FX)$(FX1):F08")
	field(LNK9, "$(P)$(F)$(FX)$(FX1):F09")
}


record (fanout,"$(P)$(F)$(FX)$(FX2)")
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX2):F00")
	field(LNK1, "$(P)$(F)$(FX)$(FX2):F01")
	field(LNK2, "$(P)$(F)$(FX)$(FX2):F02")
	field(LNK3, "$(P)$(F)$(FX)$(FX2):F03")
	field(LNK4, "$(P)$(F)$(FX)$(FX2):F04")
	field(LNK5, "$(P)$(F)$(FX)$(FX2):F05")
	field(LNK6, "$(P)$(F)$(FX)$(FX2):F06")
	field(LNK7, "$(P)$(F)$(FX)$(FX2):F07")
	field(LNK8, "$(P)$(F)$(FX)$(FX2):F08")
	field(LNK9, "$(P)$(F)$(FX)$(FX2):F09")
}


record (fanout,"$(P)$(F)$(FX)$(FX3)")
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX3):F00")
	field(LNK1, "$(P)$(F)$(FX)$(FX3):F01")
	field(LNK2, "$(P)$(F)$(FX)$(FX3):F02")
	field(LNK3, "$(P)$(F)$(FX)$(FX3):F03")
	field(LNK4, "$(P)$(F)$(FX)$(FX3):F04")
	field(LNK5, "$(P)$(F)$(FX)$(FX3):F05")
	field(LNK6, "$(P)$(F)$(FX)$(FX3):F06")
	field(LNK7, "$(P)$(F)$(FX)$(FX3):F07")
	field(LNK8, "$(P)$(F)$(FX)$(FX3):F08")
	field(LNK9, "$(P)$(F)$(FX)$(FX3):F09")
}


record (fanout,"$(P)$(F)$(FX)$(FX4)")
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX4):F00")
	field(LNK1, "$(P)$(F)$(FX)$(FX4):F01")
	field(LNK2, "$(P)$(F)$(FX)$(FX4):F02")
	field(LNK3, "$(P)$(F)$(FX)$(FX4):F03")
	field(LNK4, "$(P)$(F)$(FX)$(FX4):F04")
	field(LNK5, "$(P)$(F)$(FX)$(FX4):F05")
	field(LNK6, "$(P)$(F)$(FX)$(FX4):F06")
	field(LNK7, "$(P)$(F)$(FX)$(FX4):F07")
	field(LNK8, "$(P)$(F)$(FX)$(FX4):F08")
	field(LNK9, "$(P)$(F)$(FX)$(FX4):F09")
}


record (fanout,"$(P)$(F)$(FX)$(FX5)")
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX5):F00")
	field(LNK1, "$(P)$(F)$(FX)$(FX5):F01")
	field(LNK2, "$(P)$(F)$(FX)$(FX5):F02")
	field(LNK3, "$(P)$(F)$(FX)$(FX5):F03")
	field(LNK4, "$(P)$(F)$(FX)$(FX5):F04")
	field(LNK5, "$(P)$(F)$(FX)$(FX5):F05")
	field(LNK6, "$(P)$(F)$(FX)$(FX5):F06")
	field(LNK7, "$(P)$(F)$(FX)$(FX5):F07")
	field(LNK8, "$(P)$(F)$(FX)$(FX5):F08")
	field(LNK9, "$(P)$(F)$(FX)$(FX5):F09")
}

record (fanout,"$(P)$(F)$(FX)$(FX6)")
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX6):F00")
	field(LNK1, "$(P)$(F)$(FX)$(FX6):F01")
	field(LNK2, "$(P)$(F)$(FX)$(FX6):F02")
	field(LNK3, "$(P)$(F)$(FX)$(FX6):F03")
	field(LNK4, "$(P)$(F)$(FX)$(FX6):F04")
	field(LNK5, "$(P)$(F)$(FX)$(FX6):F05")
	field(LNK6, "$(P)$(F)$(FX)$(FX6):F06")
	field(LNK7, "$(P)$(F)$(FX)$(FX6):F07")
	field(LNK8, "$(P)$(F)$(FX)$(FX6):F08")
	field(LNK9, "$(P)$(F)$(FX)$(FX6):F09")
}


record (fanout,"$(P)$(F)$(FX)$(FX7)")
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX7):F00")
	field(LNK1, "$(P)$(F)$(FX)$(FX7):F01")
	field(LNK2, "$(P)$(F)$(FX)$(FX7):F02")
	field(LNK3, "$(P)$(F)$(FX)$(FX7):F03")
	field(LNK4, "$(P)$(F)$(FX)$(FX7):F04")
	field(LNK5, "$(P)$(F)$(FX)$(FX7):F05")
	field(LNK6, "$(P)$(F)$(FX)$(FX7):F06")
	field(LNK7, "$(P)$(F)$(FX)$(FX7):F07")
	field(LNK8, "$(P)$(F)$(FX)$(FX7):F08")
	field(LNK9, "$(P)$(F)$(FX)$(FX7):F09")
}


record (fanout,"$(P)$(F)$(FX)$(FX8)")
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX8):F00")
	field(LNK1, "$(P)$(F)$(FX)$(FX8):F01")
	field(LNK2, "$(P)$(F)$(FX)$(FX8):F02")
	field(LNK3, "$(P)$(F)$(FX)$(FX8):F03")
	field(LNK4, "$(P)$(F)$(FX)$(FX8):F04")
	field(LNK5, "$(P)$(F)$(FX)$(FX8):F05")
	field(LNK6, "$(P)$(F)$(FX)$(FX8):F06")
	field(LNK7, "$(P)$(F)$(FX)$(FX8):F07")
	field(LNK8, "$(P)$(F)$(FX)$(FX8):F08")
	field(LNK9, "$(P)$(F)$(FX)$(FX8):F09")
}

record (fanout,"$(P)$(F)$(FX)$(FX9)")
{
	field(SCAN, "Passive")
	field(SELM, "All")
	field(LNK0, "$(P)$(F)$(FX)$(FX9):F00")
	field(LNK1, "$(P)$(F)$(FX)$(FX9):F01")
	field(LNK2, "$(P)$(F)$(FX)$(FX9):F02")
	field(LNK3, "$(P)$(F)$(FX)$(FX9):F03")
	field(LNK4, "$(P)$(F)$(FX)$(FX9):F04")
	field(LNK5, "$(P)$(F)$(FX)$(FX9):F05")
	field(LNK6, "$(P)$(F)$(FX)$(FX9):F06")
	field(LNK7, "$(P)$(F)$(FX)$(FX9):F07")
	field(LNK8, "$(P)$(F)$(FX)$(FX9):F08")
	field(LNK9, "$(P)$(F)$(FX)$(FX9):F09")
}

