record(waveform, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL)")
{  
	field(DESC, "$(DESC)")
	field(FTVL, "FLOAT")
	field(NELM, "$(NELM)")
	field(PINI, "YES")
	field(INP, "$(INP)")
#field(INP, "[1,2,3,4,5,6,7,8,9,10]")
}
