record(ai, ${MOD}${CHNN}${SIG}) {
  field(DESC, "${DESC}")
  field(SCAN, "${SCAN}")
  field(PINI, "YES")
  field(DTYP, "rtpSyncReadAI")
  field(VAL, "0")
  field(INP, "@RTP(0, ${IDX})")
}

#record(ai, RTP_SINE_WAVE) {
#field(SCAN, ".5 second")
#field(PINI, "YES")
#field(DTYP, "rtpSyncReadAI")
#field(VAL, "0")
#field(INP, "@RTP(0, 6)")
#}

