
record(ai, $(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL))
{
	field(DESC, "$(DESC)")
	field(DTYP, "asynFloat64")
	field(INP,  "@asyn($(PORT) $(OFFSET)) $(DATA_TYPE)")
    field(SCAN,"$(SCAN)")
    field(HOPR,"$(HOPR)")
    field(LOPR,"$(LOPR)")
    field(PREC,"$(PREC)")
    field(EGU,"$(EGU)")
}
