record(stringin, "$(SYS)-$(SUBSYS):$(DEV):$(SIGNAL)")
{
    field(DTYP, "asynOctetRead")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))$(ALIAS)")
	field(VAL, "IOCStartTime")
	field(SCAN, "$(SCAN)")
    field(PINI,  "YES")
}