record(bi, $(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL))
{
	field(DTYP,"asynUInt32Digital")
	field(INP,"@asynMask($(PORT) $(OFFSET) $(MASK))")
    field(SCAN,"$(SCAN)")
    field(ZNAM,"$(ZNAM)")
    field(ONAM,"$(ONAM)")
    field(DESC,"$(DESC)")
    field(FLNK,"$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(FLNK)")
}

record(calc, $(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(FLNK))
{
    field(SCAN,"Passive")
    field(CALC,"A==1?0:1")
    field(INPA,"$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL)")
}
