record(calc, "Cryo-CDL00:TBx01-$(SUBDEV):$(SIGNAL)") {
  field(DESC, "$(DESC)")
  field(SCAN, "1 second")
  field(PINI, "YES")
  field(CALC, "(C*(B-D))-(A*(B-D))")
  field(INPA, "Cryo-CDL00:TBx01-$(IN_ENTHALPY):Enthalpy")
  field(INPB, "Cryo-CDL00:TBx01-$(IN_MFR):MFlowrate")
  field(INPC, "Cryo-CDL00:TBx01-$(OUT_ENTHALPY):Enthalpy")
  field(INPD, "Cryo-CDL00:TBx01-$(OUT_MFR):MFlowrate")
  field(EGU, "W")
}

