record (bi, "${SYS}${SUBSYS}${DEV}${SUBDEV}OVRStat"){
    field(INP, "${SYS}${SUBSYS}${DEV}${SUBDEV}SetOVREN")
    field(PINI, "YES")
    field(SCAN, "1 second")
    field(ZNAM, "0")
    field(ONAM, "1")
}

