record(ai, "$(SYS)-$(SUBSYS):$(DEV):$(SIGNAL)")
{
   field(PINI, "YES")
   field(DTYP, "asynFloat64")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))$(ALIAS)")
   field(PREC, "5")
   field(SCAN, "$(SCAN)")
   field(VAL, "$(VAL)")
}
