# ai record template for register inputs
record(ai, "$(Prefix):$(Pvname)") {
    field(EGU, "$(EGU)")
    field(HIHI,"$(HIHI)")
    field(HIGH,"$(HIGH)")
    field(LOW," $(LOW)")
    field(LOLO,"$(LOLO)")
    field(SCAN,"$(SCAN)")
    field(PREC, "4")
    field(MDEL,"0")
}

