
#Created by Constraints Editor (xc6slx9-csg225-3) - 2011/01/05
NET "clk_prescale" TNM_NET = "clk_prescale";
TIMESPEC TS_clk_prescale = PERIOD "clk_prescale" 2.3 ns HIGH 50 %;

NET "clk_binary" TNM_NET = "clk_binary";
TIMESPEC TS_clk_binary = PERIOD "clk_binary" 2.8 ns HIGH 50 %;

NET "clk_binary_64" TNM_NET = "clk_binary_64";
TIMESPEC TS_clk_binary_64 = PERIOD "clk_binary_64" 3.6 ns HIGH 50 %;

NET "clk_binary_core_32" TNM_NET = "clk_binary_core_32";
TIMESPEC TS_clk_binary_core_32 = PERIOD "clk_binary_core_32" 4.3 ns HIGH 50 %;


NET "clk_binary_core_64" TNM_NET = "clk_binary_core_64";
TIMESPEC TS_clk_binary_core_64 = PERIOD "clk_binary_core_64" 4.8 ns HIGH 50 %;


NET "clk_binary_dsp48" TNM_NET = "clk_binary_dsp48";
TIMESPEC TS_clk_binary_dsp48 = PERIOD "clk_binary_dsp48" 2.97 ns HIGH 50 %;

NET "clk_lfsr" TNM_NET = "clk_lfsr";
TIMESPEC TS_clk_lfsr = PERIOD "clk_lfsr" 3.4 ns HIGH 50 %;

NET "clk_johnson" TNM_NET = "clk_johnson";
TIMESPEC TS_clk_johnson = PERIOD "clk_johnson" 2.3 ns HIGH 50 %;


# PlanAhead Generated physical constraints 

INST "counter_binary_dsp48" AREA_GROUP = "pblock_counter_binary_dsp48";
AREA_GROUP "pblock_counter_binary_dsp48" RANGE=SLICE_X8Y46:SLICE_X9Y55;
AREA_GROUP "pblock_counter_binary_dsp48" RANGE=DSP48_X0Y12:DSP48_X0Y13;
INST "counter_binary_core_32" AREA_GROUP = "pblock_counter_binary_core_32";
AREA_GROUP "pblock_counter_binary_core_32" RANGE=SLICE_X0Y40:SLICE_X3Y49;

# PlanAhead Generated physical constraints 

INST "counter_johnson" AREA_GROUP = "pblock_counter_johnson";
AREA_GROUP "pblock_counter_johnson" RANGE=SLICE_X50Y56:SLICE_X53Y62;
INST "lfsr_counter" AREA_GROUP = "pblock_lfsr_counter";
AREA_GROUP "pblock_lfsr_counter" RANGE=SLICE_X28Y45:SLICE_X29Y54, SLICE_X26Y45:SLICE_X27Y55;
INST "counter_binary" AREA_GROUP = "pblock_counter_binary";
AREA_GROUP "pblock_counter_binary" RANGE=SLICE_X0Y32:SLICE_X3Y39;
INST "counter_prescale" AREA_GROUP = "pblock_counter_prescale";
AREA_GROUP "pblock_counter_prescale" RANGE=SLICE_X50Y31:SLICE_X53Y39;

# PlanAhead Generated physical constraints 

INST "counter_binary_64" AREA_GROUP = "pblock_counter_binary_64";
AREA_GROUP "pblock_counter_binary_64" RANGE=SLICE_X0Y8:SLICE_X3Y23;
INST "counter_binary_core_64" AREA_GROUP = "pblock_counter_binary_core_64";
AREA_GROUP "pblock_counter_binary_core_64" RANGE=SLICE_X50Y8:SLICE_X53Y23;
