
NET "clk1" TNM_NET = clk1;
TIMESPEC TS_clk1 = PERIOD "clk1" 5 ns HIGH 50%;

NET "clk2" TNM_NET = clk2;
TIMESPEC TS_clk2 = PERIOD "clk2" 4.1 ns HIGH 50%;


# TIMESPEC "TS_CDC_1"  = FROM "clk1"    TO "clk2"        TIG;
TIMESPEC "TS_CDC_1"  = FROM "clk1"    TO "clk2"        5ns;

