# longin record template for register inputs
record(longin, "$(SYS)$(SUBSYS):$(DEV)$(SUBDEV):$(FIELD)") {
    field(DTYP,"asynUInt32Digital")
    field(INP,"@asynMask($(PORT) $(OFFSET) 0xFFFF)")
    field(SCAN,"$(SCAN)")
}
