record(stringin, "$(SYS):$(SUBSYS):$(DEV):$(SIGNAL)")
{
    field(PINI,  "NO")
    field(DTYP, "asynOctetRead")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))$(ALIAS)")
		field(VAL, "BuildTime")
		field(SCAN, "$(SCAN)")
}
