

INST "style1" AREA_GROUP = "style1";
AREA_GROUP "style1" RANGE=SLICE_X26Y0:SLICE_X29Y3;
AREA_GROUP "style1" GROUP=CLOSED;
AREA_GROUP "style1" PLACE=CLOSED;


INST "style2" AREA_GROUP = "style2";
AREA_GROUP "style2" RANGE=SLICE_X36Y0:SLICE_X39Y3;
AREA_GROUP "style2" GROUP=CLOSED;
AREA_GROUP "style2" PLACE=CLOSED;


INST "style3" AREA_GROUP = "style3";
AREA_GROUP "style3" RANGE=SLICE_X16Y0:SLICE_X19Y3;
AREA_GROUP "style3" GROUP=CLOSED;
AREA_GROUP "style3" PLACE=CLOSED;
