
NET "clk_ff" TNM_NET = "clk_ff";
TIMESPEC TS_clk_ff = PERIOD "clk_ff" 2.250 ns  HIGH 50 %;

NET "clk_srl" TNM_NET = "clk_srl";
TIMESPEC TS_clk_srl = PERIOD "clk_srl" 1.4 ns HIGH 50 %;

NET "clk_bram" TNM_NET = "clk_bram";
TIMESPEC TS_clk_bram = PERIOD "clk_bram" 3.5 ns HIGH 50 %;


# PlanAhead Generated physical constraints 

INST "shift_bram" AREA_GROUP = "pblock_shift_bram";
AREA_GROUP "pblock_shift_bram" RANGE=SLICE_X2Y72:SLICE_X7Y80;
AREA_GROUP "pblock_shift_bram" RANGE=RAMB16_X0Y36:RAMB16_X0Y38;
INST "shift_flops" AREA_GROUP = "pblock_shift_flops";
AREA_GROUP "pblock_shift_flops" RANGE=SLICE_X8Y56:SLICE_X17Y63;
INST "shift_ram_coregen" AREA_GROUP = "pblock_shift_ram_coregen";
AREA_GROUP "pblock_shift_ram_coregen" RANGE=SLICE_X0Y40:SLICE_X3Y55;
