# ai record template for register inputs
record(ai, "$(P)$(R)") {
    field(DTYP,"asynFloat64")
    field(INP,"@asyn($(PORT) $(OFFSET))$(DATA_TYPE)")
    field(HOPR,"$(HOPR)")
    field(LOPR,"$(LOPR)")
    field(PREC,"$(PREC)")
    field(EGU,"$(EGU)")
    field(SCAN,"$(SCAN)")
    #field(HIHI,"5.5")
    #field(HIGH,"5")
    #field(LOW,"2.5")
    #field(LOLO,"2")
    #field(HHSV,"MAJOR")
    #field(HSV,"MINOR")
    #field(LSV,"MINOR")
    #field(LLSV,"MAJOR")
}

