record(sub, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL)")
{
  field(DESC, "$(DESC)")
  field(SCAN, "$(SCAN)")
  field(FLNK, "$(FLNK)")
  field(INAM, "DnstInit")
  field(SNAM, "DnstProc")
  field(INPA, "$(INPA)")
  field(INPB, "$(INPB)")
  field(PINI, "YES")
}
