record(longin, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL)")
{
    field(PINI, "YES")
    field(DTYP, "asynInt32")
    #field(INP,  "@asyn((PORT),(ADDR),(TIMEOUT=1))(ALIAS)")
    field(INP,  "@asyn($(PORT),0,1)$(ALIAS)")
    field(SCAN,  "$(SCAN)")
    field(FLNK,  "$(FLNK)")
    field(VAL,  "0")
}
