# mbboDirect record template for register outputs
record(mbboDirect,"$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)$(SIGNAL)") {
    field(DTYP,"asynUInt32Digital")
    #field(OUT,"@asynMask((PORT) (OFFSET) (MASK))(ALIAS)")
    field(OUT,"@asynMask($(PORT) 0 0x1)$(ALIAS)")
}
