record(bo, "CDMS-Tester:PXI-DO:$(SIGNAL)")
{
	field(PINI, "YES")
    field(OUT,  "CDMS-Tester:PXI-DO16:$(OUTPUT).$(BIT) PP")
    field(OMSL, "supervisory")
    field(ZNAM, "0")
    field(ONAM, "1")
    field(VAL, "0")
}