record(bi, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)SetManuSel")
{
	field(PINI, "YES")
	field(VAL, "0")
	field(ZNAM, "$(ZNAM)")
	field(ONAM, "$(ONAM)")
}

record(bi, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)SetManuOpen")
{
	field(PINI, "YES")
	field(VAL, "0")
	field(ZNAM, "$(ZNAM1)")
	field(ONAM, "$(ONAM1)")
}

record(bi, "$(SYS)$(SUBSYS)$(DEV)$(SUBDEV)SetManuClose")
{
	field(PINI, "YES")
	field(VAL, "0")
	field(ZNAM, "$(ZNAM1)")
	field(ONAM, "$(ONAM1)")
}

