
#Created by Constraints Editor (xc6slx45-fgg676-3) - 2011/04/15
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 100 ns HIGH 50%;


INST "data_out1" LOC = SLICE_X28Y2;
INST "data_out2"  LOC = SLICE_X28Y2;

INST "data_out1" IOB = FALSE;
INST "data_out2" IOB = FALSE;



