
NET "rd_clk" TNM_NET = "rd_clk";
TIMESPEC TS_rd_clk = PERIOD "rd_clk" 100 MHz HIGH 50 %;
NET "wr_clk" TNM_NET = "wr_clk";
TIMESPEC TS_wr_clk = PERIOD "wr_clk" 100 MHz HIGH 50 %;

# NET fifo/* MAXDELAY = 20ns;


INST "data_sink" AREA_GROUP = "data_sink";
AREA_GROUP "data_sink" RANGE=SLICE_X50Y67:SLICE_X53Y77;

INST "data_src" AREA_GROUP = "data_src";
AREA_GROUP "data_src" RANGE=SLICE_X0Y67:SLICE_X3Y77;

# PlanAhead Generated physical constraints 

INST "fifo" AREA_GROUP = "fifo";
AREA_GROUP "fifo" RANGE=RAMB16_X2Y32:RAMB16_X2Y32;



NET "io_data_qo" LOC = J13;
NET "io_enable_qo" LOC = K14;

# PlanAhead Generated physical constraints 

INST "bus_controller" AREA_GROUP = "bus_controller";
AREA_GROUP "bus_controller" RANGE=SLICE_X0Y32:SLICE_X3Y39;
